<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Placeholder</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ list_details.name }}</h1>
            <h2>Task</h2>
            <table>
                <thead>
                    <th>Task</th>
                    <th>Due Date</th>

                </thead>
                <tbody>
                {% for todo_detail in list_details.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' todo_detail.id %}">{{ todo_detail.task}}</a>
                        </td>
                        <td>
                            <a href="{% url 'todo_list_detail' todo_detail.amount %}">{{ todo_detail.due_date}}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </main>
</body>
</html>
