<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Placeholder</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create a new list</a>
            </p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                </tr>
                {% for list in todo_list %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' list.id %}">{{list.name}}</a>
                    </td>
                    <td> {{list.items.all| length}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>
